$webResourceManager.requireResourcesForContext("it.test.console")
<html>
<head>
    <meta name="decorator" content="atl.general"/>
    <title>$i18n.getText("it.test.console.title")</title>
</head>
<body>
<h2 class="text-console-main-heading test-console-main-heading-${productName}">$i18n.getText("it.test.console.title")
#if($testPlugin)
     : $testPlugin.name
#end
</h2>
<div id="test-console-container" class="aui-panel test-console-container-${productName}" bundle-key="${bundleSymbolicName}">
    <div class="aui-toolbar">


        <ul class="toolbar-group">
            <li class="toolbar-item">
                <a href="#" id="scan-for-tests-button" class="toolbar-trigger">$i18n.getText("it.test.console.button.scan-for-tests")</a>
            </li>
            <li class="toolbar-item disabled">
                <a href="#" id="run-all-button" class="toolbar-trigger">$i18n.getText("it.test.console.button.run-all","0")</a>
            </li>
            <li class="toolbar-item disabled">
                <a href="#" id="run-failed-button" class="toolbar-trigger">$i18n.getText("it.test.console.button.run-failed","0")</a>
            </li>
        </ul>
        #if($hasMultipleTestPlugins)
            <a class="choose-plugin-link" href="${contextPath}/plugins/servlet/it-test-console">$i18n.getText("it.test.console.choose-different-plugin")</a>
        #end
    </div>
</div>

</body>
</html>
