$webResourceManager.requireResourcesForContext("it.test.bundles.resources")
<html>
<head>
    <meta name="decorator" content="atl.general"/>
    <title>$i18n.getText("it.test.console.title")</title>
</head>
<body>
<h2>$i18n.getText("it.test.console.title")</h2>

<div class="test-console-container-${productName}">
    <div class="aui-message error shadowed">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>$i18n.getText("it.test.console.no-tests"): ${bundleSymbolicName}</strong>
        </p>
        
        <p>
            $i18n.getText("it.test.console.check-logs")
        </p>
        <p>
            <a class="choose-plugin-link" href="${contextPath}/plugins/servlet/it-test-console">$i18n.getText("it.test.console.choose-different-plugin")</a>
        </p>
    </div>
</div>
</body>
</html>

